In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressb=ing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['gender_submission.csv', 'test.csv', 'train.csv']

In [14]:
from sklearn.linear_model import LogisticRegression

In [58]:
df = pd.read_csv('../input/train.csv')
df.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [59]:
len(df)

891

In [60]:
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
df['Sex'] = df['Sex'].apply(lambda x: 1 if x == 'male' else 0)
df['Fare'] = df['Fare'].astype(float)
df = df.dropna()

x = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
y = df['Survived']

x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [61]:
len(x)

714

In [62]:
x.describe()

           Pclass         Sex     ...           Parch        Fare
count  714.000000  714.000000     ...      714.000000  714.000000
mean     2.236695    0.634454     ...        0.431373   34.694514
std      0.838250    0.481921     ...        0.853289   52.918930
min      1.000000    0.000000     ...        0.000000    0.000000
25%      1.000000    0.000000     ...        0.000000    8.050000
50%      2.000000    1.000000     ...        0.000000   15.741700
75%      3.000000    1.000000     ...        1.000000   33.375000
max      3.000000    1.000000     ...        6.000000  512.329200

[8 rows x 6 columns]

In [63]:
x.dtypes

Pclass      int64
Sex         int64
Age       float64
SibSp       int64
Parch       int64
Fare      float64
dtype: object

In [64]:
model = LogisticRegression()
model.fit(x, y)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [68]:
test_x = [[3, 1, 2, 3, 1, 10]]
test_y = model.predict_proba(test_x)
print(test_y)

[[0.89258035 0.10741965]]

In [ ]:
# Dead with prob 0.89