In [98]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [99]:
titanic = pd.read_csv("Titanic.csv")
titanic.columns
titanic = titanic.dropna()

In [100]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [101]:
del titanic['PassengerId']
del titanic['Name']
del titanic['Cabin']
del titanic['Ticket']
del titanic['Embarked']
titanic.head()
sex_map = {"male":1,"female":0}
titanic["Sex"]=titanic["Sex"].map(sex_map)

In [102]:
Y = titanic['Survived']
del titanic['Survived']
X = titanic
X.head()

    Pclass  Sex   Age  SibSp  Parch     Fare
1        1    0  38.0      1      0  71.2833
3        1    0  35.0      1      0  53.1000
6        1    1  54.0      0      0  51.8625
10       3    0   4.0      1      1  16.7000
11       1    0  58.0      0      0  26.5500

In [103]:
clf = RandomForestClassifier(n_estimators=200, max_features='sqrt',max_depth=8,random_state=10)
clf.fit(X,Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=10, verbose=0, warm_start=False)

In [104]:
test = {"Pclass":[3],"Sex":[1],"Age":[2],"SibSp":[1],"Parch":[3],"Fare":[10]}
test = pd.DataFrame(test)
test

   Pclass  Sex  Age  SibSp  Parch  Fare
0       3    1    2      1      3    10

In [105]:
clf.predict_proba(test)

array([[0.38983333, 0.61016667]])

Przepraszam za brak opisu kodu, rozwiązanie było tworzone w pośpiechu.