In [91]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [81]:
data = pd.read_csv('train.csv')

In [82]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [83]:
X_data, y_data = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Fare']], data['Survived']
X_data = pd.get_dummies(X_data)    
X_data = X_data.fillna(-1)

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data)

In [85]:
y_data.head(), X_data.head()

(0    0
 1    1
 2    1
 3    1
 4    0
 Name: Survived, dtype: int64,
    Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
 0       3  22.0      1      0   7.2500           0         1
 1       1  38.0      1      0  71.2833           1         0
 2       3  26.0      0      0   7.9250           1         0
 3       1  35.0      1      0  53.1000           1         0
 4       3  35.0      0      0   8.0500           0         1)

In [75]:
X_train = pd.get_dummies(X_train)

In [76]:
X_train = X_train.fillna(-1)

In [77]:
X_train.head()

     Pclass   Age  SibSp  Parch      Fare  Sex_female  Sex_male
366       1  60.0      1      0   75.2500           1         0
152       3  55.5      0      0    8.0500           0         1
523       1  44.0      0      1   57.9792           1         0
726       2  30.0      3      0   21.0000           1         0
700       1  18.0      1      0  227.5250           1         0

In [108]:
rclas = RandomForestClassifier(bootstrap=True,
                               max_depth=110,
                               max_features=3,
                               min_samples_leaf=3,
                               min_samples_split=8,
                               n_estimators=1000)

In [109]:
rclas.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=110, max_features=3, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=3,
            min_samples_split=8, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [110]:
y_predict = rclas.predict(X_test)

In [111]:
accuracy_score(y_predict, y_test)

0.7982062780269058

In [120]:
#2 lata, 3 rodzeństwa 1 rodzic, zapłacił 10 funtów i podróżuje 3 klasą
x_boy = pd.DataFrame({'Pclass': [3], 'Age': [2], 'SibSp': [3], 'Parch': [1], 'Fare': [10], 'Sex_female': [0], 'Sex_male': [1]})

In [121]:
test

   Age  Fare  Parch  Pclass  Sex_female  Sex_male  SibSp
0    2    13      1       3           0         1      0

In [122]:
y_boy = rclas.predict_proba(x_boy)

In [123]:
y_boy

array([[0.40409998, 0.59590002]])