In [11]:
from xgboost import XGBClassifier
import numpy as np
import pandas as pd

## Wczytanie danych

In [18]:
df = pd.read_csv("train.csv", index_col="PassengerId")

In [24]:
df.head()

             Survived  Pclass  Sex   Age  SibSp  Parch     Fare
PassengerId
1                   0       3    1  22.0      1      0   7.2500
2                   1       1    0  38.0      1      0  71.2833
3                   1       3    0  26.0      0      0   7.9250
4                   1       1    0  35.0      1      0  53.1000
5                   0       3    1  35.0      0      0   8.0500

Dropowanie zmiennych o których nie mamy informacji

In [19]:
df = df.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1)

Podmiana płci na zmienną 0-1

In [20]:
df['Sex'] = np.where(df['Sex']=="male", 1,0)

Sprawdźmy ile jest nulli

In [21]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [22]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

## Budowa modelu

In [26]:
X = df.drop("Survived", axis=1)
y = df['Survived']

In [28]:
xgb = XGBClassifier(max_depth=3) #Postawowe ograniczenie na overfit

In [29]:
xgb.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

## Wartość predykcji

In [35]:
df_example = pd.DataFrame({'Pclass':3, 'Sex':1, 'Age':2, 'SibSp':3, 'Parch':1, 'Fare':10}, index=[0])

In [42]:
xgb.predict_proba(df_example)[:,0]

array([0.9090982], dtype=float32)

Osoba o podanych danych ma niestety tylko 9% szansy na przeżycie według modelu.